@use "variables" as *; 

@media only screen and (min-width: 768px) {
    .style-h1 {
        font-size: 86px;
    }

    .style-h2 {
        font-size: 40px;
    }

    .style-h3 {
        font-size: 32px ;
    }

    .style-p {
        font-size: 18px;
    }

}


@media only screen and (min-width: 992px) {
    section {
        padding: 64PX 40px;
    }

    .section-hero {
       &-home, 
       &-about, 
       &-services,
       &-portfolio {
            background-image: none;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 0;
            align-items: stretch;
            height: 700px;
            overflow: hidden;
       }
    }

    .content-image {
        &-hero,
        &-hero-about,
        &-hero-services,
        &-hero-portfolio {
            display: block;
            height: 100%;
            overflow: hidden;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }


    .content-text-hero {
        padding: 0 64px 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        overflow: hidden;
    }

    .centered-cta {
        width: 60%;
        
    }

    .content-button-cta {
        width: 30%;
        margin: 0 auto;
    }

    
    footer.display-column {
        flex-direction: row ;
        justify-content: center;
    }

    .content-description-company {
        text-align: left;
        max-width: 338px;
        margin-right: 48px;
        width: 30%;
    }

    .image-logo-footer {
        margin: 0;
    }

    .content-contact-info h5.style-h5.text-center,
    .content-other-info h5.style-h5,
    .content-follow h5.style-h5 {
        text-align: left !important;
    }

    .content-contact-info .list-footer,
    .content-other-info .list-footer {
        padding-left: 0;
    }

    .section-showroom-photos {
        padding: 0;
    }

    .content-showroom-photos {
        display: flex;
        flex-direction: row;
    }

    .content-my-equipments {
        width: 60%;
        margin: 0 auto 40px;
    }

    .content-card-equipments {
        display: flex;
        justify-content: center;
        gap: 32px;
    }

    .card-list-equipments {
        width: 498px;
    }

    .content-card-awards{
        flex-direction: row;
        justify-content: center;
        
        .card-awards{
            width:330px;
        }
    }

    .content-cards-pricing {
        flex-direction: row;
        justify-content: center;
    }

    .group-card-service {
        display: flex;
        
        .card-default,
        .img-service-card {
            width: 50%;
        }

        .img-service-card {
            display: block;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .double-form {
        display: flex;
        width: 100%;
    }

    .content-buttom-form {
        width: 50%;
        margin: 0 auto;
    }

    
}

@media only screen and (min-width: 1024px) {
    section {
        padding: 120px 64px;
    }

    .section-services article {
       display: grid;
       grid-template-columns: 0.6fr 1.4fr;
       gap: 48px; 
    }

    .content-cards-services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 0; 
    }

    .content-text-cta {
        margin: 0 40px;
    }

    .section-gallery {
        height: 1461px;
        padding: 64px 64px;
    }

    .content-gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        height: 100%;
    }

    .item-gallery-two,
    .item-gallery-eight {
        grid-row: span 2;
    }

    .item-gallery-four,
    .item-gallery-seven {
        grid-row: span 3;
    }

    .content-group-title {
        width: 50%;
        margin: 0 auto;
    }
    
    .section-details-me {
        display: flex;
        gap: 48px ;
        justify-content: center;
    }

    .content-form-contact {
        margin-top: 0;
    }
}

@media only screen and (min-width: 1200px) {
    
    .content-text-hero {
        padding-left: 64px;
    }

    .centered-cta {
        margin: 0 auto;
        width: 50%;
    }
    
    .content-button-hero {
        width: 30%;
    }

    .content-img{
        width: 100%;
    }

    .content-cards-pricing {
        justify-content: center;
    }

    .group-card-service {
        width: 498px;
    }

    .section-details-me {
        width: 80%;
        margin: 0 auto;
    }

}