@use "variables" as *;
@use "mixins" as *;

.section-hero-home {
    background-image: url(../images/img-photo-jonnathan.png);
}

.section-hero-about {
    background-image: url(../images/img-background-about-me.jpg
    );
}

.content-image {
    &-hero,
    &-hero-about, 
    &-hero-services,
    &-hero-portfolio {
        display: none;
    }
}

.content-text-hero,
.content-text-section,
.content-text-cta {
    gap: 24px;
}

.content-cards-services {
    margin-top: 48px;
    gap: 20px;
}

.card-default {
    background-color: $accent-color;
    padding: 32px 20px;
    gap: 24px;
}

.icon {

    &-services {
        height: 64px;
        width: 64px;
    }

    &-testimonials {
        width: 80px;
        height: 51px;
    }
}

.body-card {
    gap: 16px;
}

.content-gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;

    div {
        
        img {
            height: 100%;
            object-fit: cover;
        }
    }

}

.section-testimonials {
    gap: 40px;
}

.card-testimonials {
    background-color: $accent-color;
    padding: 32px;
    gap: 16px;
}

.name-testimonials {
    color: $main-color;
}

.section-call-to-action {
    background-image: url(/images/img-background-cta.png);
}

.content-button-cta {
    width: 100%;
}

//ABOUT ME 
.content-signature {
    width: 196px;
    height: 61px;
}

.section-details-me {
    padding-top: 0;
}

.list-social-contact {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    padding: 0;
}

.section-showroom-photos {
    padding: 64px 0;
}

.content-card-awards {
    @include gap-size (64px);
}

.card-awards {
    padding: 32px 20px;
    border: 1px solid $main-color;
    position: relative; 

    .icon-awards {
        background-color: $tertiary-color;
        height: 48px;
        width: 116px;
        position: absolute;
        top: -26px; 
        left: 50%;
        transform: translate(-50%, 0);
        display: block;
    }

    .award {
        background-image: url(../images/award-solid.png);
        background-repeat: no-repeat;
        background-position: center;
    } 

    .exhibitions{
        background-image: url(../images/panorama-solid.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    .projects {
        background-image: url(../images/camera-retro-solid.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    .number-card-award {
        color: $main-color;
        font-size: 86px;
        font-weight: bold;
        text-align: center;
        margin: 0;
        line-height: 86px;
    }
    
    .title-card-award {
        color: $text-color;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
    }

    .divider-awards{
        margin: 16px 0;
    }
}

// services 

.section-hero-services {
    background-image: url(../images/img-background-services.jpg
    );
}

.content-cards-pricing {
    @include gap-size (32px)
}


.card-default{

    .title-package {
        color: $tertiary-color;
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }

    .price-package {
        color: $main-color;
        font-size: 64px;
        font-weight: bold;
    }

    
}

.img-service-card {
    display: none;
}

// portfolio

.section-hero-portfolio {
    background-image: url(../images/img-background-portfolio.jpg);
}

//contact

.content-form-contact {
    margin-top: 32px ;
}

.group-form {
    margin-bottom: 18px;
}