//Colors
$main-color:#D2C1AF;
$secondary-color:#fff;
$tertiary-color:#0B0C0C;
$text-color:#F5F8FF;
$accent-color:#191B1D;
$warning-color:#FFC80A;
$success-color:#2ECC71;
$error-color:#FF4955;
$info-color:#2196F3;


//fonts
$font-headings: "Saira Condensed", serif;
$font-default: "Roboto", serif;
