/* Error: expected "{".
 *     ,
 * 117 |     .content-cards-services 
 *     |                             ^
 *     '
 *   css\_mediaqueries.scss 117:29  @use
 *   css\styles.scss 5:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 117 \2502      .content-cards-services \d\a     \2502                              ^\a     \2575 \a   css\\_mediaqueries.scss 117:29  @use\a   css\\styles.scss 5:1            root stylesheet';
}
