@media only screen and (min-width: 768px) {
    .style-h1 {
        font-size: 86px;
    }

    .style-h2 {
        font-size: 40px;
    }

    .style-h3 {
        font-size: 32px ;
    }

    .style-p {
        font-size: 18px;
    }

}

@media only screen and (min-width: 992px) {
    section {
        padding: 64PX 40px;
    }

    .section-hero-banner {
        background-image: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        align-items: center;
        height: 100vh;
    }

    .content-image-hero {
        display: inline-block;
    }

    .content-text-hero {
        padding: 0 64px 0 32px;
    }
}

@media only screen and (min-width: 1024px) {
    section {
        padding: 120px 64px;
    }

    .section-services article {
       display: grid;
       grid-template-columns: 0.6fr 1.4fr;
       gap: 48px; 
    }

    .content-cards-services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 0; 
    }

    .centered-cta {
        width: 40%;
        
    }

    .content-text-cta {
        margin: 0 40px;
    }

    footer {
        flex-direction: row !important;
        justify-content: center;
    }

    .content-description-company {
        text-align: left;
        max-width: 338px;
        margin-right: 48px;
        width: 30%;
    }

    .image-logo-footer {
        margin: 0;
    }

    .content-contact-info h5.style-h5,
    .content-other-info h5.style-h5,
    .content-follow-info h5.style-h5 {
        text-align: left !important;
    }

    .content-contact-info .list-footer,
    .content-other-info .list-footer {
        padding-left: 0;
    }

  
}